/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
