/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
  background-image: var(--bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family), sans-serif;
  color: var(--text-color);
  font-size: var(--main-text-size);
  background-color: var(--bg-color);
}

.header, .footer {
  height: 100vh;
  min-height: 375px;
  display: grid;
}

.header {
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu ul li {
  list-style: none;
  padding-left: 0;
}

.header__theme-menu-button {
  height: 26px;
  min-width: 70px;
  background: transparent;
  border: none;
  font-size: inherit;
  text-transform: lowercase;
  color: var(--contrast-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--contrast-color);
}

.title-big {
  font-weight: var(--text-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page-description {
  height: fit-content;
  background-color: var(--highlight-background);
  color: var(--highlight-color);
  font-weight: var(--text-bold);
}

.title-question {
  color: var(--contrast-color);
}

.card-title {
  background-color: var(--highlight-background);
  color: var(--highlight-color);
  font-weight: var(--text-bold);
  line-height: 23.4px;
}

.main {
  padding: 40px 10px;
}