/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
  background-image: var(--page-bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family), sans-serif;
  color: var(--text-color);
  font-size: var(--main-text-size);
  background-color: var(--bg-color);
}

.header, .footer {
  height: 100vh;
  min-height: 375px;
  display: grid;
}

.header {
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu ul li {
  list-style: none;
  padding-left: 0;
}

.title-big {
  font-weight: var(--text-bold);
  font-size: 116px;
  line-height: 83%;
  color: var(--title-color);
}

.page-description {
  height: fit-content;
  background-color: var(--highlight-background);
  font-weight: var(--text-bold);
}

.main {
  padding: 40px 10px;
}