/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.link {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}


.page {
  background-image: var(--bg-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family), sans-serif;
  color: var(--text-color);
  font-size: var(--main-text-size);
  background-color: var(--bg-color);
}

.header, .footer {
  height: 100vh;
  min-height: 375px;
  display: grid;
}

.header {
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu ul li {
  list-style: none;
  padding-left: 0;
}

.header__theme-menu-button {
  height: 26px;
  min-width: 70px;
  background: transparent;
  border: none;
  font-size: inherit;
  text-transform: lowercase;
  color: var(--contrast-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--contrast-color);
}

.rec-label {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--contrast-color);
  font-size: inherit;
  line-height: 25px;
  display: flex;
  gap: 10px;
  
}

.rec-label::after {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  align-self: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--contrast-color);
  border-right: 1px solid var(--contrast-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--contrast-color);
  border-left: 1px solid var(--contrast-color);
}

.main {
  padding: 40px 10px;
}

.section:not(:last-child) {
  margin-bottom: 50px;
}

.title-big {
  font-weight: var(--text-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  height: fit-content;
  background-color: var(--highlight-background);
  color: var(--highlight-color);
  font-weight: var(--text-bold);
}

.title-regular {
  font-weight: var(--text-regular);
}

.title-question {
  color: var(--contrast-color);
  margin-bottom: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  line-height: 23.4px;
  margin-bottom: 10px;
}

.image-wrapper {
  display: grid;
  gap: 10px;
}

.image-wrapper img {
  width: 100%;
}

.footer .title-big {
  align-self: center;
}