/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --title-color: #DB00FF;
  --accent-color: #FF0070;

  --highlight-background: #FF0070;
  --highlight-color: #000028;
  --contrast-color: #FF0070;
  --button-hover-color: #FF007066;

  --text-bold: 700;
  --text-regular: 400;
  --main-text-size: 18px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}