/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --main-font-family: 'IBM Plex mono';
  --title-color: #DB00FF;
  --accent-color: #FF0070;

  --highlight-background: #FF0070;
  --highlight-color: #000028;
  --contrast-color: #FF0070;

  --text-bold: 700;
  --text-regular: 400;
  --main-text-size: 18px;


  --article-bg-color: #6dc1fd;
  --author-bg-color: #1e1e1e;
  --author-text-color: #fff;
  --h2-font-size: clamp(1.875rem, 1.6607rem + 0.9524vw, 2.375rem);
  --h3-font-size: clamp(1.5rem, 1.3125rem + 0.8333vw, 1.9375rem);
}